# MQTT Broker Settings
MQTT_BROKER=192.168.0.71
MQTT_USERNAME=mqtt-username
MQTT_PASSWORD=your_secure_password
MQTT_TOPIC=printer/commands

# Home Assistant Integration
HA_DISCOVERY=true

# CUPS Admin Credentials
ADMIN_USER=admin
ADMIN_PASS=adminpassword

# Hardware & Local Paths
PRINTER_DEVICE=/dev/usb/lp0
DRIVERS_PATH=/path/to/drivers/folder # Location of driver files for your specific printers. 
CUPS_PATH=/path/to/config/folder # This is where cups.confd will live as well as persistent printer settings
# Port Configuration
CUPS_PORT=631
WEB_PORT=8880
